.image-profile {
    height: 200px;
    width: 250px;

    border-radius: 20px;

}

.header-container {
    padding: 20px;
    background-color: #930a0a36;
    /* Light gray */
}

.image-contact {
    margin-left: 5px;
    margin-right: 5px;
    /* Light gray */
}

.details-container {
    z-index: 2;
    /* overlay above */
    padding: 20px;
    background-color: #c3c589a6;
}

.main-content {
    position: relative;
    z-index: 1;
    /* ensures content isn’t covered */
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

body {
    background-image: url('../assets/images/bg_blue.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}

body {
    background-color: #fdfdfd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
}

.highlight {
    background-color: #ffeab6;
    padding: 0 6px;
    border-radius: 6px;
}

.btn-orange {
    background-color: #ff6b2c;
    border: none;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-orange:hover {
    background-color: #e85a1d;
}

.nav-bar-main {
    background-color: #ecddd68d;

}

.hero img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}