.color-title {
    font-weight: normal;
}
#red {
    color: red
}
#orange {
    color: orange
}
#blue {
    color: blue
}
#green {
    color: green
}
#yellow {
    color: yellow
}

img {
    height: 200px;
    width: 200px;
}